/*-------------------------------- Imports ------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Roboto:wght@400;700&display=swap");
/* Roboto Regular and Bold*/
/* Open Sans Bold and SemiBold*/
/*-------------------------------- Variables ------------------------------ */
:root {
  --orange: #F57421;
  --black: #313131;
}

/*-------------------------------- Nav Bar ------------------------------ */
@media (min-width: 576px) {
  .container-fluid {
    padding: 0em 2em 0em 2em;
  }
}

@media (min-width: 900px) {
  .container-fluid {
    padding: 0em 3em 0em 3em;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding: 0em 7em 0em 7em;
  }
}

@media (min-width: 1600px) {
  .container-fluid {
    padding: 0em 15em 0em 15em;
  }
}

@media (min-width: 1900px) {
  .container-fluid {
    padding: 0em 20em 0em 20em;
  }
}

.navbar-brand {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
}

.nav-item-btn {
  padding-top: 0.25em;
}

.btn-intinker {
  background-color: var(--orange);
  color: white;
}

.login {
  padding: none;
}

@media (min-width: 800px) {
  .login {
    padding: 0em 0.75em 0em 4em;
  }
}

.navbar-nav {
  font-family: "Open Sans";
  font-weight: "Regular";
}

/*-------------------------------- Hero Section ------------------------------ */
.display-3 {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 4em;
  padding-top: 4em;
}

.lead {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1.2em;
  padding: 1em 0em 0em 0em;
}

.btn-intinker-hero {
  background-color: var(--orange);
  color: white;
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

.btn-intinker-hero:hover {
  background-color: var(--orange);
  opacity: 85%;
  color: white;
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

.btn-intinker-white-hero {
  background-color: none;
  color: var(--black);
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

.fotter {
  font-family: "Roboto";
  font-weight: Regular;
  color: var(--black);
  font-size: 1.2em;
  padding-top: 0.25em;
}

/*-------------------------------- What we do ------------------------------ */
.F-header {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
  color: var(--black);
  text-align: center;
  padding-top: 3em;
}

.F-subheader {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0 2.5em 0 2.5em;
}

.calib-header {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.5em;
  color: var(--black);
  text-align: center;
  padding-top: 1em;
}

.calib-subheader {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0em 2.5em 0 2.5em;
}

.calib-Learn-more {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.25em;
  color: var(--orange);
  text-align: center;
}

.screen-shot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 5em 3em;
}

/*-------------------------------- Interactive Scoring ------------------------------ */
.newpart {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
  color: var(--black);
  text-align: center;
  padding-top: 5em;
}

.interactive {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
  color: var(--black);
  text-align: center;
  padding-top: 1em;
}

.activepart {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0 2.5em 1.5em 2.5em;
}

.interactive_score {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*-------------------------------- Auto Fill Settings ------------------------------ */
.autofill {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
  color: var(--black);
  text-align: center;
  padding-top: 5em;
}

.auto-fill-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.no_need_to {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 2em 2.5em 0.5em 2.5em;
}

/*-------------------------------- Stop wasting time and material ------------------------------ */
.Stop-header {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
  color: var(--black);
  text-align: center;
  padding-top: 5em;
}

.about20 {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0em 2.5em 0.5em 2.5em;
}

.screen-shot {
  padding: 0em 2.5em 0em 2.5em;
  max-width: 100%;
}

.im-done {
  font-family: "Roboto";
  font-weight: "Regular";
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0em 2.5em 0em 2.5em;
}

.btn-intinker-hero {
  background-color: var(--orange);
  color: white;
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

.btn-intinker-hero:hover {
  background-color: var(--orange);
  opacity: 85%;
  color: white;
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

/*-------------------------------- Have a question? Get in Touch! ------------------------------ */
.have_question {
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 2em;
  color: var(--black);
  text-align: center;
  padding-top: 5em;
}

.cant_get_printer {
  font-family: "Roboto";
  font-weight: Regular;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0.5em 2.5em 0.5em 2.5em;
}

.send_us_mail {
  font-family: "Roboto";
  font-weight: Bold;
  font-size: 1em;
  color: var(--black);
  text-align: center;
  padding: 0.5em 2.5em 0.5em 2.5em;
}

.btn-Get_in_touch {
  background-color: var(--orange);
  color: white;
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

.btn-Get_in_touch:hover {
  background-color: var(--orange);
  opacity: 85%;
  color: white;
  font-family: "Open Sans";
  font-weight: Bold;
  font-size: 1.2em;
  width: 10em;
  height: 3em;
}

/*-------------------------------- Footer ------------------------------ */
/*
xs: portrait phones, less than 576px
no media query, this is default (mobile first approach)

sm: landscape phones, 576px and up
@ media (min-width: 576px) {...}

md: tablets, 768px and up
@ media (min-width: 768px) {...}

lg: desktop, 992px and up
@ media (min-width: 992px) {...}

xl: large desktops, 1200px and up
@ media (min-width: 1200px) {...}

*/
/*# sourceMappingURL=main.css.map */